# Assignment

## Brief

Write the Python codes for the following questions.

## Instructions

Paste the answer as Python in the answer code section below each question.

### Question 1

Question: How do you select rows from a DataFrame where any value in the row exceeds a threshold?

In [1]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]})
threshold = 30

Answer:

In [2]:
df[(df > threshold).any(axis=1)]

   A   B
3  4  40
4  5  50

### Question 2

Question: How do you sort a DataFrame by columns `A` and `B`?

In [3]:
import pandas as pd

df = pd.DataFrame({'A': [2, 1, 2], 'B': [2, 3, 1], 'C': [1, 2, 3]})

Answer:

In [4]:
df.sort_values(['A', 'B'])

   A  B  C
1  1  3  2
2  2  1  3
0  2  2  1

### Question 3

Question: How do you concatenate two DataFrames vertically?

In [5]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

Answer:

In [6]:
pd.concat([df1, df2], ignore_index=True)

   A   B
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11
5  9  12

### Question 4

Question: How do you compute the cumulative sum of a column in a DataFrame?

In [7]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4, 5]})

Answer:

In [8]:
sum_column = df['A'].cumsum()

sum_column

0     1
1     3
2     6
3    10
4    15
Name: A, dtype: int64

### Question 5

Question: How do you convert a Series of strings to uppercase?

In [9]:
import pandas as pd

series = pd.Series(['apple', 'banana', 'cherry'])

Answer:

In [10]:
series.str.upper()

0     APPLE
1    BANANA
2    CHERRY
dtype: object

## Submission

- Submit the URL of the GitHub Repository that contains your work to NTU black board.
- Should you reference the work of your classmate(s) or online resources, give them credit by adding either the name of your classmate or URL.